.nav {
    display: none;
}

:root {
    --main-bg-color: lightgray;
    --main-text-color: black;
}

.country-container{
    background-color: var(--main-bg-color);
}

.country-container.dark{
    --main-bg-color: black;
    --main-text-color: white;
}

.header {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid gray;
    padding-left: 50px;
    color: var(--main-text-color);
    font-weight: bold;
    position: relative;
}

.header .theme-link {
    position: absolute;
    right: 70px;
    top:0px;
}

.header .theme-link a {
    text-decoration: none;
    color: var(--main-text-color);
}

.country-inputs {
    height: 80px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.country-inputs input{
    margin: 50px;
    height: 40px;
    text-decoration: none;
    width: 200px;
    border-width: 0px;
    padding: 0px 20px;
}

.country-inputs select{
    margin-right: 70px;
    height: 40px;
    text-decoration: none;
    width: 120px;
}

.country-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.country-card {
    width: 320px;
    border: solid 1px gray;
    height: 400px;
}

.country-card img {
    max-height: 160px;
    width: 320px;
    cursor: pointer;
}

.country-card ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.country-card ul li {
    line-height: 30px;
    padding: 10px 40px 5px 40px;
    cursor: pointer;
    color: var(--main-text-color);
}


.country-page {
    margin-top: 20px;
    display: flex;
    align-items:flex-start;
    justify-content:space-evenly;
}

.country-page>div {
    margin: 0px 30px;
}

.country-page button {
    margin: 5px;
}